
/* body */

body{
   background-color: #83147d;
   margin: 0 auto;
}


/* Header */

#header {
    padding: 20px;
    background-color: blueviolet;
    border-bottom: 3px solid #5f135b;
    display: flex;
    justify-content: space-between;
}

#scorelink,
#scoredisplay,
#timedisplay {
    color: rgb(211, 172, 221);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 600;
}


/* quiz section */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

#quizarea {
    padding: 20px;
    background-color: blueviolet;
    border: 3px solid #5f135b;
    width: 70vh;
    height: 50vh;
}

/* Quiz components */

.choice-box {
    display: flex;
    width: 100%;
    margin: 1px;
    background-color: #83147d;
    border-radius: 2px;
    font-size: 150%;
}

.choice-box:hover {
    transform: scale(110%);
    box-shadow: #5f135b;
    cursor: pointer;
}

.choice-letter {
    margin-right: 10px;
}

/* save screen  */

#saveInitials {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    background-color: #ad36a7;
    border-radius: 2px;
    font-size: 150%;
    
}

#savescreen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#savescreen a,
#savescreen button {
    margin: 20px;
}